<?php
$bn = \app\components\Application::getAppId();
$database = (\app\components\Application::isDev() && (is_readable(__DIR__ . '/database-dev.php')))?
	require(__DIR__ . '/database-dev.php'):
	require(__DIR__ . '/database.php');

$config = [
	'id' => 'basic',
	'name' => 'OMMU',
	'basePath' => dirname(__DIR__),
	'vendorPath' => dirname(__DIR__) . '/vendor',
	'runtimePath' => dirname(__DIR__) . '/runtime',
	'bootstrap' => [
		'log',
        'queue',
		'app\components\bootstrap\ThemeControllerHandle'
	],
	'aliases' => [
		'@bower'      => '@vendor/bower-asset',
		'@npm'        => '@vendor/npm-asset',
		'@ommu'       => '@vendor/ommu',
		'@webpublic'  => '/public',
	],
	'components' => [
		'request' => [
			// !!! insert a secret key in the following (if it is empty) - this is required by cookie validation
			'cookieValidationKey' => '',
			'csrfParam' => $bn . '_csrf',
		],
		'cache' => [
			'class' => 'yii\caching\FileCache',
		],
        'redis' => [
            'class'    => 'yii\redis\Connection',
            'hostname' => 'localhost',
            'port'     => 6379,
            'database' => 0,
            'retries'  => 1,
        ],
        'queue' => [
            'class' => \yii\queue\db\Queue::class,
            'db' => 'db',
            'tableName' => 'ommu_queue',
            'channel' => 'default',
            'mutex' => \yii\mutex\MysqlMutex::class,
        ],
		'user' => [
			'class'             => 'app\modules\user\components\User',
			'identityClass'     => 'app\modules\user\models\Users',
			'enableAutoLogin'   => true,
			'loginUrl'          => ['/login'],
			'identityCookie'    => ['name' => $bn . '_identity', 'httpOnly' => true],
			'authTimeout'       => 7 * 24 * 3600,
		],
		'authManager' => [
			'class'             => 'mdm\admin\components\DbManager',
			'assignmentTable'   => 'ommu_core_auth_assignment',
			'itemTable'         => 'ommu_core_auth_item',
			'itemChildTable'    => 'ommu_core_auth_item_child',
			'ruleTable'         => 'ommu_core_auth_rule',
		],
		'formatter' => [
			'class'             => 'app\components\i18n\Formatter',
			'dateFormat'        => 'php:d-M-Y',
			'datetimeFormat'    => 'php:d-M-Y H:i:s',
			'timeFormat'        => 'php:H:i:s',
			'thousandSeparator' => '.',
			'decimalSeparator'  => ', ',
			'locale'            => 'id',
			'defaultTimeZone'   => 'Asia/Jakarta',
			'currencyCode'      => 'IDR',
		],
		'mailer' => [
			'class' => 'yii\swiftmailer\Mailer',
			// send all mails to a file by default. You have to set
			// 'useFileTransport' to false and configure a transport
			// for the mailer to send real emails.
			'useFileTransport' => true,
		],
        'zipper' => [
            'class' => 'Victor78\Zipper\Zipper', //required
            'type' => 'zip', //or 'zip' (default), 'tar', 'tar.gz', 'tar.bz2'
        ],
		'log' => [
			'traceLevel' => YII_DEBUG ? 3 : 0,
			'targets' => [
				[
					'class' => 'yii\log\FileTarget',
					'levels' => ['error', 'warning'],
				],
			],
		],
        'broadcaster' => [
            'class' => 'app\components\broadcast\RedisBroadcaster',
        ],
		'urlManager' => [
			'enablePrettyUrl' => true,
			'showScriptName' => false,
			'rules' => [
				//a standard rule mapping '/' to 'site/index' action
				'' 																	=> 'site/index',
				'<t:[\w\-]+>-<id:\d+>'												=> 'site/view',
				'<id:\d+>'															=> 'site/view',
				//a standard rule mapping '/login' to 'site/login', and so on
				'<action:(login|logout)>' 											=> 'site/<action>',
				//without and with module
				// '<controller:\w+>'													=> '<controller>/index',
				// '<module:\w+>'														=> '<module>/site/index',
				'<controller:\w+>/<t:[\w\-]+>-<id:\d+>'								=> '<controller>/view',
				'<module:\w+>/<controller:\w+>/<t:[\w\-]+>-<id:\d+>'				=> '<module>/<controller>/view',
				'<controller:\w+>/<id:\d+>'											=> '<controller>/view',
				'<module:\w+>/<controller:\w+>/<id:\d+>'							=> '<module>/<controller>/view',
			],
		],
		'errorHandler' => [
			'errorAction' => 'site/error',
		],
		'view' => [
			'class' => '\app\components\View',
		],
		'assetManager' => [
			'class'    => '\app\components\AssetManager',
            'bundles'   => [
                // jquery
                'yii\web\JqueryAsset' => [
                    'sourcePath' => '@vendor/components/jquery',
                    'js' => [
                        YII_DEBUG ? 'jquery.js': 'jquery.min.js',
                    ],
                ],
                // jquery ui
                'yii\jui\JuiAsset' => [
                    'sourcePath' => '@vendor/components/jqueryui',
                    'js' => [
                        YII_DEBUG ? 'jquery-ui.js': 'jquery-ui.min.js',
                    ],
                    'css' => [
                        YII_DEBUG ? 'themes/smoothness/jquery-ui.css': 'themes/smoothness/jquery-ui.min.css',
                    ],
                ],
                'yii\jui\DatePickerLanguageAsset' => [
                    'sourcePath' => '@vendor/components/jqueryui',
                ],
                // bootstrap
                'yii\bootstrap\BootstrapAsset' => [
                    'sourcePath' => '@vendor/components/bootstrap',
                    'css' => [
                        YII_DEBUG ? 'css/bootstrap.css': 'css/bootstrap.min.css',
                    ],
                ],
                'yii\bootstrap\BootstrapPluginAsset' => [
                    'sourcePath' => '@vendor/components/bootstrap',
                    'js' => [
                        YII_DEBUG ? 'js/bootstrap.js': 'js/bootstrap.min.js',
                    ],
                ],
                'yii\bootstrap\BootstrapThemeAsset' => [
                    'sourcePath' => '@vendor/components/bootstrap',
                    'css' => [
                        YII_DEBUG ? 'css/bootstrap-theme.css': 'css/bootstrap-theme.min.css',
                    ],
                ],
                // yii2
                'yii\widgets\MaskedInputAsset' => [
                    'sourcePath' => '@npm/inputmask/dist',
                    'js' => [
                        YII_DEBUG ? 'jquery.inputmask.bundle.js': 'min/jquery.inputmask.bundle.min.js',
                    ],
                ],
                'yii\validators\PunycodeAsset' => [
                    'sourcePath' => '@npm/punycode',
                ],
                'yii\widgets\PjaxAsset' => [
                    'sourcePath' => '@npm/yii2-pjax',
                ],
                // gii
                'yii\gii\TypeAheadAsset' => [
                    'sourcePath' => '@vendor/twitter/typeahead.js/dist',
                    'js' => [
                        YII_DEBUG ? 'typeahead.bundle.js': 'typeahead.bundle.min.js',
                    ],
                ],
            ],
		],
		'setting' => [
			'class'    => '\app\components\SettingManager',
			'moduleId' => 'base',
		],
		'meta' => [
			'class'    => '\app\components\SettingManager',
			'moduleId' => 'meta',
		],
	],
	'modules' => [
		'redactor' => [
			'class'                 => 'yii\redactor\RedactorModule',
			'uploadDir'             => '@public',
			'uploadUrl'             => '@web/public',
			'imageAllowExtensions'  => ['jpg', 'png']
		],
	],
    'controllerMap' => [
        'migrate' => [
            'class' => 'app\commands\MigrateController',
            'migrationTable' => 'ommu_migration',
        ]
    ],
];

$config = \yii\helpers\ArrayHelper::merge(
	$config,
	$database
);

return $config;
